#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Karuzela i animacja w prawo */

.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Moje style */
.scroller__inner img {
  max-height: 350px;
  cursor: pointer;
}

/* Karuzela i animacja w prawo */
/* Preview powiększonej grafiki */

.img-preview {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.302);
  backdrop-filter: blur(5px);
  overflow: auto;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-big {
  max-width: 800px;
  margin: auto;
  overflow: scroll;
}

.close-preview {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 50px;
}

/* RESPONSYWNOŚC */
@media only screen and (max-width: 1024px) {
  .scroller__inner img {
    max-height: 150px;
  }
  .img-big {
    max-height: 100%;
    max-width: auto;
    overflow: scroll;
  }
  .img-preview {
    overflow: scroll;
  }
}
